*{
    margin: 0;
    padding: 0;
}
body,html{
    margin: 10px;
}
/* PSEUDO CLASSES DEFINEM ESTADOS DE ELEMENTOS
a{
    color: red;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color: darkred;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: blue;
}*/

/*PSEUDO ELEMENTOS PODEM AGIR NO CONTEUDO DOS ELEMENTOS é o que tem 2x :: */
a{
    color: red;
    text-decoration: none;
    font-weight: bold;
}
a::before{
    content: '‣ '
}
a::after{
    content: ' °';
    font-weight: normal;
    color: green;
}

a:hover{
    text-decoration: underline;
}
a:active{
    color: blue;
}